<launch>

  <!-- Sot Controller configuration -->
  <rosparam command="load" file="$(find roscontrol_sot_talos)/config/sot_talos_params_gazebo_effort.yaml"/>
  <rosparam command="load" ns="/sot_controller/effort_control_pd_motor_init" file="$(find talos_hardware_gazebo)/config/pids.yaml"/>
  <rosparam command="load" file="$(find roscontrol_sot_talos)/config/sot_talos_controller.yaml" />
  
  <!-- Spawn sot controller -->
  <node name="sot_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="sot_controller" />

</launch>

